.head-page-course {
    width: 100vw;
    height: 50px;
    background: #E9E7E7;
    padding-top: 16px;
    padding-left: 100px;
}

.head-page-course  p{
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
}

.btn-head-page {
    margin-top: -33px;
    margin-left: 45px;
  
}

.head-page-allcour {
    display: flex;
    margin-top: -35px;
    margin-left: 60px;
}

.btn-head-page-all {
    margin-top: 1px;
    margin-left: 5px;
}

.head-page-cour {
    display: flex;
    margin-top: -35px;
    margin-left: 150px;
}

.body-page-course {
    /* background: #0dc6c6; */
    width: 1320px;
    height: auto;
    margin-left: 100px;
}

.body-page-head {
    margin-top: 30px;
    margin-left: -11px;
}

.imgpage-html {
    margin-left: 40px;
    width: 900px;
    height: 490px;
    border-radius: 10px;
    background: #3F6185;
    padding-top: 100px;
    padding-left: 200px;
}

.img-html-body {
    width: 496px;
    height: 285px;
}
.des-cours {
    margin-left: 85px;
    width: 350px;
    height: 490px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.txtdes-cours {
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -0.5px;
}

.btndes-cours {
    width: 310px;
    height: 1px;
    background: #B2D235;
}

.txtlearn-des {
    margin-top: 15px;
    width: 310px;
    height: 343px;
    color: #949292;
    text-align: justify;
    font-family: UTM BryantLG;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.36px;
}

/* learn */
.coures-learn-devlist {
    margin-left: 40px;
    width: 900px;
    height: 1874px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
}

.des-cours-gr-rv {
    margin-top: -520px;
    margin-left: 85px;
    width: 350px;
    height: 590px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.des-cours-list {
    margin-top: 30px;
    margin-left: 85px;
    width: 350px;
    height:  500px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.txt3hs {
    margin-left: 50px ;
    margin-top: -30px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.5px;
}

.txtlearn-cour{
    margin-left: 150px ;
    margin-top: -44px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}

.solearn-cour {
    margin-left: 180px ;
    margin-top: -44px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}

.btn-courn-solearn {
    margin-top: 30px;
    width: 310px;
    height: 1px;
    background: #D1D1D1;
}

.btn-courn-solearn-end {
    margin-top: 29px;
    width: 310px;
    height: 1px;
    background: #D1D1D1;
}

.btn-end-learndev {
    margin-top: 50px;
    margin-left: 50px;
    padding-top: 10px;
    padding-left: 40px;
    display: flex;
    width: 200px;
    height: 42px;
    border-radius: 22px;
    background: #B2D235;
    box-shadow: 0px 1.5px 2px 0px #6F8710 inset;
}

.magin-cours-one {
    margin-top: 30px;
}

.btn-end-learndev {
    color: #FFF;
    font-family: UTM BryantLG;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.9px;
}
.solearn-cour-code {
    margin-left: 180px ;
    margin-top: -44px;
    color: #5D8BD0;
    font-family: UTM BryantLG;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}

/* list2 */

.cours-oth {
    margin-top: -21px;
    margin-left: -21px;
    width: 350px;
    height: 60px;
    border: 1px solid #DEDEDE;
    background: #B2D235;
    padding-top: 15px;
    padding-left: 100px;

}

.txtcours-oth {
    color: #FFF;
    font-family: UTM BryantLG;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.25px;
}

.oth-solist {
    margin-top: 20px;
    width: 12px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
}

.oht-txtlist {
    margin-top: -35px;
    margin-left: 30px;
    width: 318px;
    height: 41px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.32px;
}

.btn-oth-list {
    width: 310px;
    height: 1px;
    background: #E2E0E0;
}

.btn-oth-list2 {
    width: 310px;
    height: 0.5px;
    background: #E2E0E0;
}

.btn-oth-list3 {
    margin-top: -20px;
    width: 310px;
    height: 0.5px;
    background: #E2E0E0;
}

.btn-oth-foot {
    margin-top: 40px;
    margin-left: 50px;
    width: 200px;
    height: 42px;
    border-radius: 22px;
    background: #B2D235;
    box-shadow: 0px 1.5px 2px 0px #6F8710 inset;
    padding-top: 10px;
    padding-left: 30px;
}

.oth-viewtxt {
    color: #FFF;
    font-family: UTM BryantLG;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.9px;
}
/* body */
.coures-learn-devlist {
    padding-top: 30px;
    padding-left: 30px;
}
.txtlesson-cour {
    margin-left: 20px;
    font-family: UTM BryantLG;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
}

.txtlesson-cour-tea {
    margin-top: -38px;
    margin-left: 130px;
    font-family: UTM BryantLG;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
}

.txtlesson-cour-rev {
    margin-top: -38px;
    margin-left: 140px;
    font-family: UTM BryantLG;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
}

.default {
    color: #505353;
}
.selected {
    color: #B2D235;
}

.but-cour-dev1 {
    z-index: 1;
    position: absolute;
    margin-top: 0px;
    width: 840px;
    height: 2px;
    background: #DADADA;
}

.but-lesson-blu {
    margin-left: 15px;
    z-index: 2;
    position: absolute;
    width: 75px;
    height: 2px;
    background: #B2D235;
}

.but-teach-blu {
    z-index: 2;
    margin-left: 210px;
    position: absolute;
    width: 75px;
    height: 2px;
    background: #B2D235;
}

.but-rew-blu {
    z-index: 2;
    margin-left: 415px;
    position: absolute;
    width: 75px;
    height: 2px;
    background: #B2D235;
}

.in-search-dev {
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
}

.ip-list-dev {
    width: 244px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #C4C4C4;
    background: #FFF;
    padding-left: 10px;
}

.ip-note-lup-dev {
    position: absolute;
    margin-left: -30px;
    margin-top: 10px;
}

.btn-search-dev {
    position: absolute;
    margin-left: 20px;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #B2D235;
    background: #B2D235;
    padding-top: 10px;
}

.txt-search-dev {
    color: #FFF;
    font-family: Open Sans;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.btn-slot-dev {
    position: absolute;
    margin-left: 350px;
    width: 200px;
    height: 42px;
    border-radius: 22px;
    background: #B2D235;
    box-shadow: 0px 1.5px 2px 0px #6F8710 inset;
    padding-top: 10px;
    padding-left: 33px;
}

.txt-slot-dev {
    color: #FFF;
    font-family: UTM BryantLG;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.9px;

}

.but-list-font {
    margin-left: 20px;
    margin-top: -20px;
    position: absolute;
    width: 821px;
    height: 1px;
    background: #E2E0E0;
}

.oth-solist-dev1 {
    margin-left: 30px;
    margin-top: 140px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
}

.oht-txtlist1-dev1 {
    margin-top: -37px;
    margin-left: 100px;
    width: 446px;
    height: 24px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;
}

.bt-oth-learn {
    display: flex;
    margin-top: -45px;
    margin-left: 760px;
    width: 80px;
    height: 30px;
    border-radius: 22px;
    background: #B2D235;
    box-shadow: 0px 1.5px 2px 0px #6F8710 inset;
    padding-top: 5px;
    padding-left: 23px;
}

.bt-oth-learn p {
    color: #FFF;
    font-family: UTM BryantLG;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.75px;
}

.list-oth2 {
    margin-top: -90px;
}

.list-oth3 {
    margin-top: -100px;
}
.oht-txtlist1-dev4 {
    margin-top: -37px;
    margin-left: 100px;
    width: 498px;
    height: 58px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;
}

.bt-oth-learn4 {
    display: flex;
    margin-top: -70px;
    margin-left: 760px;
    width: 80px;
    height: 30px;
    border-radius: 22px;
    background: #B2D235;
    box-shadow: 0px 1.5px 2px 0px #6F8710 inset;
    padding-top: 5px;
    padding-left: 23px;
}

.bt-oth-learn4 p {
    color: #FFF;
    font-family: UTM BryantLG;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.75px;
}

.list-oth5 {
    margin-top: -94px;
}

.list-oth20 {
    margin-top: 36px;
}

.cour-list-page {
    display: flex;
    margin-top: 20px;
    margin-left: -465px;
}

.right-courlearn img {
    margin-left: 10px;
}

.txtmaindev {
    margin-left: 20px;
    margin-top: 30px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}

.txtdev-id {
    display: flex;
    margin-left: 130px;
    margin-top: -80px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;
}

.txtdev-id2 {
    margin-top: -15px;
    margin-left: 130px;
    color: #BDB9B9;
    font-family: UTM BryantLG;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
}

.img-maindev-gg {
    margin-left: 130px;
    margin-top: -20px;
    z-index: 1;
}
.img-maindev-face {
    z-index: 1;
    margin-left: 10px;
    margin-top: -20px;
}
.img-maindev-slack {
    z-index: 1;
    margin-left: 10px;
    margin-top: -20px;
}

.img-maindev-g {
    z-index: 2;
    margin-left: -77px;
    margin-top: -20px;
}
.img-maindev-fa {
    z-index: 2;
    margin-left: 20px;
    margin-top: -20px;
}
.img-maindev-sl {
    z-index: 2;
    margin-left: 21px;
    margin-top: -20px;
}
.txtdevmain-skill {
    margin-left: 20px;
    margin-top: 20px;
    width: 720px;
    height: 80px;
    color: #949292;
    font-family: UTM BryantLG;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
}

.review05 {
    margin-left: 20px;
    margin-top: 30px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}

.review-btn {
    margin-left: 20px;
    margin-top: 0px;
    position: absolute;
    width: 821px;
    height: 1px;
    background: #E2E0E0;
}

.review-btn2 {
    margin-left: 20px;
    margin-top: 250px;
    position: absolute;
    width: 821px;
    height: 1px;
    background: #E2E0E0;
}

.rv-blog {
    position: absolute;
    z-index: 1;
    margin-left: 20px;
    margin-top: 25px;
}
.txtrv-blog  {
    margin-top: 50px;
    margin-left: 130px;
    position: absolute;
    color: #FFF;
    font-family: UTM BryantLG;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.2px;
    z-index: 2;
}

.rv-start-dev {
    z-index: 2;
    position: absolute;
    margin-left: 50px;
    margin-top: 120px;
}

.rv-start-dev2 {
    z-index: 2;
    position: absolute;
    margin-left: 90px;
    margin-top: 120px;
}

.rv-start-dev3 {
    z-index: 2;
    position: absolute;
    margin-left: 130px;
    margin-top: 120px;
}

.rv-start-dev4 {
    z-index: 2;
    position: absolute;
    margin-left: 170px;
    margin-top: 120px;
}

.rv-start-dev5 {
    z-index: 2;
    position: absolute;
    margin-left: 210px;
    margin-top: 120px;
}

.txtrating-rv {
    margin-left: 110px;
    margin-top: 150px;
    position: absolute;
    z-index: 2;
    color: #FFF;
    font-family: UTM BryantLG;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
}

.font-rvstart {
    margin-top: 40px;
    margin-left: 390px;
    width: 454px;
    height: 176px;
    border-radius: 5px;
    border: 1px solid #DFDFDF;
    padding-top: 10px;
    padding-left: 10px;
}

.txtstar5-font {
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
}

.btn-star5-font {
    margin-left: 65px;
    margin-top: -25px;
    width: 335px;
    height: 6px;
    border-radius: 2px;
    background: #B2D235;

}

.txtstart5-font2 {
    margin-top: -12px;
    margin-left: 415px;
    color: #9BA1A1;
    font-family: UTM BryantLG;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.28px;
}

.btn-star5-font2 {
    margin-left: 65px;
    margin-top: -25px;
    width: 335px;
    height: 6px;
    border-radius: 2px;
    background: #E1E1E1;
}

.font-stardev {
    margin-top: -3px;
}

.txtallshowrv {
    margin-left: 20px;
    margin-top: 60px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;
}

.txtallshowrv img {
   margin-left: 10px;
}

.imgshow-rv {
    margin-top: 20px;
    margin-left: 20px;
}

.txtshow-rv {
    margin-top: -30px;
    margin-left: 80px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;
}

.imgrv-star {
    margin-left: 190px;
    margin-top: -80px;
}

.imgalldate-show {
    margin-left: 320px;
    margin-top: -57px;
    color: #BDB9B9;
    font-family: UTM BryantLG;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
}

.txtshow-cmtrv {
    margin-top: 30px;
    margin-left: 20px;
    width: 820px;
    height: 80px;
    color: #949292;
    font-family: UTM BryantLG;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.36px;
}

.showcmt2 {
    margin-top: 50px;
}

.showcmt3 {
    margin-top: 30px;
}

.imgshow-rv2 {
    margin-left: 100px;
}

.txtshow-rv2 {
    margin-top: -30px;
    margin-left: 160px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;
}

.imgalldate-show2 {
    margin-top: -34px;
    margin-left: 300px;
    color: #BDB9B9;
    font-family: UTM BryantLG;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
}

.txtshow-cmtrv2 {
    width: 650px;
    height: 54px;
    margin-left: 160px;
    color: #949292;
    font-family: UTM BryantLG;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.36px;
}

.txtleav-rv {
    margin-top: 70px;
    margin-left: 20px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;
}

.txtleav-rv-mess {
    margin-top: 20px;
    margin-left: 20px;
    color: #747474;
    font-family: UTM BryantLG;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
}

.txtmess-rvleav {
    width: 820px;
    height: 123px;
    margin-left: 20px;
    border-radius: 5px;
    border: 2px solid #EFEFEF;
    background: #FFF;
}

.txtvote {
    margin-top: 20px;
    margin-left: 20px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.44px;
}

.imggr149 {
    margin-left: 100px;
    margin-top: -87px;
}

.txtstartsfoot {
    margin-top: -63px;
    margin-left: 240px;
    color: #747474;
    font-family: UTM BryantLG;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.36px;
}

.next-lesson {
    margin-left: 250px;
}

.txtdescript {
    margin-left:0px;
}

.but-blu-descript {
    width: 105px;
    margin-left: 0px;
}

.but-blu-descript2 {
    width: 105px;
    margin-left: 225px;
}

.txtdes-less {
    margin-left: 20px;
    margin-top: 40px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}

.txtdes-less-viv {
    margin-left: 20px;
    margin-top: 20px;
    width: 800px;
    height: 206px;
    color: #949292;
    text-align: justify;
    font-family: UTM BryantLG;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; 
    letter-spacing: -0.36px;
}

.txtless-tag {
    margin-top: 40px;
    margin-left: 20px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.4px;
}

.next-learn-foot {
    padding-left: 13px;
    padding-top: 5px;
    display: flex;
    margin-top: -40px;
    margin-left: 100px;
    width: 65px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #E4E4E4;
    background: #F2F2F2;
}

.next-learn-foot p {
    width: 45px;
    height: 21px;
    color: #949292;
    font-family: UTM BryantLG;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
}

.nexxt-html {
    padding-left: 15px;
    padding-top: 5px;
    position: absolute;
    margin-top: -30px;
    margin-left: 190px;
    width: 65px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #E4E4E4;
    background: #F2F2F2;
}

.nexxt-html p {
    width: 45px;
    height: 21px;
    color: #949292;
    font-family: UTM BryantLG;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
}

.nexxt-css {
    padding-left: 13px;
    padding-top: 5px;
    position: absolute;
    margin-top: -30px;
    margin-left: 280px;
    width: 51px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #E4E4E4;
    background: #F2F2F2;
}

.nexxt-css p {
    width: 45px;
    height: 21px;
    color: #949292;
    font-family: UTM BryantLG;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
}

.nexxt-coder {
    padding-left: 15px;
    padding-top: 5px;
    position: absolute;
    margin-top: -30px;
    margin-left: 355px;
    width: 65px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #E4E4E4;
    background: #F2F2F2;
}

.nexxt-coder p {
    width: 45px;
    height: 21px;
    color: #949292;
    font-family: UTM BryantLG;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
}

.nexxt-developer {
    padding-left: 15px;
    padding-top: 5px;
    position: absolute;
    margin-top: -30px;
    margin-left: 445px;
    width: 89px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #E4E4E4;
    background: #F2F2F2;
}

.nexxt-developer p {
    width: 70px;
    height: 21px;
    color: #949292;
    font-family: UTM BryantLG;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
}

.nexxt-js {
    padding-left: 12px;
    padding-top: 5px;
    position: absolute;
    margin-top: -30px;
    margin-left: 555px;
    width: 40px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid #E4E4E4;
    background: #F2F2F2;
}

.nexxt-js p {
    width: 21px;
    height: 21px;
    color: #949292;
    font-family: UTM BryantLG;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
}

.txtprogram {
    margin-top: 40px;
    margin-left: 20px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.5px;
}

.btn-prorgram {
    margin-left: 20px;
    margin-top: 30px;
    width: 820px;
    height: 1px;
    background: hsl(0, 12%, 90%);
}

.img-docpro {
    margin-top: 20px;
    margin-left: 20px;
}

.txtdoc-lesson {
    margin-top: -20px;
    margin-left: 60px;
    color: #BDB9B9;
    font-family: UTM BryantLG;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.28px;
}

.txtdoc-program {
    margin-top: -35px;
    margin-left: 130px;
    color: #505353;
    font-family: UTM BryantLG;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.36px;
}

.btn-preview {
    display: flex;
    margin-top: -40px;
    margin-left: 758px;
    padding-top: 5px;
    padding-left: 17px;
    width: 80px;
    height: 30px;
    border-radius: 22px;
    background: #B2D235;
    box-shadow: 0px 1.5px 2px 0px #6F8710 inset;
}

.btn-preview p {
    color: #FFF;
    font-family: UTM BryantLG;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.75px;
}

.progam2 {
    margin-top: 20px;
}