.fontuser-pro {
  width: 300px;
  height: 900px;
  /* background-color: aqua; */
  margin-top: 50px;
}

.imgid-profile {
  z-index: 1;
  width: 260px;
  height: 260px;
  border-radius: 260px;
  border: 5px solid #fff;
  background: lightgray 50% / cover no-repeat;
}

.came {
  z-index: 2;
  margin-top: -85px;
  margin-left: 10px;
}

.pro-textAdmin {
  margin-top: -10px;
}

.pro-textone {
  color: #505353;
  font-family: UTM BryantLG;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.5px;
}

.pro-texttwo {
  margin-top: -10px;
  color: #505353;
  font-family: UTM BryantLG;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

.pro-btnadone {
  width: 270px;
  height: 1px;
  background: #dcdcdc;
  margin-left: 10px;
}

.pro-day {
  margin-top: 20px;
  margin-right: 90px;
}

.img-pro-sn {
  margin-right: 140px;
}

.txt-daypro {
  margin-top: -17px;
  color: #505353;
  font-family: UTM BryantLG;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

.btn-pro-sn {
  margin-left: 25px;
  width: 229px;
  height: 1px;
  background: #dcdcdc;
}

/*  */
.pro-phon {
  margin-top: 10px;
  margin-right: 90px;
}

.img-pro-phon {
  margin-right: 140px;
}

.txt-phonpro {
  text-align: left;
  margin-left: 65px;
  margin-top: -17px;
  color: #505353;
  font-family: UTM BryantLG;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

/*  */
.pro-home {
  margin-top: 10px;
  margin-right: 90px;
}

.img-pro-home {
  margin-right: 140px;
}

.txt-homepro {
  width: 200px;
  text-align: left;
  margin-left: 65px;
  margin-top: -17px;
  color: #505353;
  font-family: UTM BryantLG;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

.pro-txtad-cm {
  margin-left: 25px;
  width: 249px;
  height: 189px;
  color: #787b7b;
  text-align: justify;
  font-family: UTM BryantLG;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.36px;
}

.fonttext-pro {
  width: 900px;
  height: 900px;
  /* background-color: rgb(23, 171, 102); */
  margin-top: 50px;
}

.pro-Mylearn {
  margin-top: 139px;
  margin-right: 710px;
}

.text-mylearn {
  margin-top: -40px;
  margin-right: 5px;
  width: 200px;
  z-index: 2;
  color: #505353;
  font-family: UTM BryantLG;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-pro-one {
  margin-top: -20px;
  z-index: 1;
  width: 900px;
  height: 1px;
  background: #b2d235;
}

.btn-pro-two {
  margin-top: 3px;
  width: 900px;
  height: 1px;
  background: #b2d235;
}

.pro-list-learn {
  width: 641px;
  height: 90px;
  margin-left: 130px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.pro-list-html {
  margin-right: 510px;
  margin: 15px;
}

.pro-list-html img {
  width: 65px;
}

.pro-list-addcour {
  margin-top: -120px;
  margin-left: 500px;
  z-index: 1;
}

.pro-plus {
  margin-top: -45px;
}

.pro-txthtml {
  margin-top: 10px;
  color: #505353;
  font-family: UTM BryantLG;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.28px;
}

.pro-txtaddcour {
  margin-top: 29px;
  color: #b2d235;
  font-family: UTM BryantLG;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.7px;
}

.pro-edit-file {
  margin-top: 55px;
  margin-right: 710px;
}

.text-editpro {
  margin-right: 3px;
  z-index: 2;
  color: #505353;
  font-family: UTM BryantLG;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.list-tt {
  margin-top: 20px;
}

.pro-txtname {
  margin-right: 850px;
}

.txtname-pro {
  color: #505353;
  font-family: UTM BryantLG;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
}

.ipt-txtname {
  margin-top: -10px;
  padding-left: 10px;
  width: 440px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
  background: #fff;
}
/*  */
.pro-txtemail {
  margin-top: -90px;
  margin-left: 460px;
}

.txtemail-pro {
  margin-top: 12px;
  margin-right: 400px;
  color: #505353;
  font-family: UTM BryantLG;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
}

.ipt-txtemail {
  margin-top: -10px;
  padding-left: 10px;
  width: 440px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
  background: #fff;
}

.txtdate-pro {
  width: 141px;
  color: #505353;
  font-family: UTM BryantLG;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
}

.ipt-txtdate {
  margin-top: -10px;
  padding-left: 10px;
  width: 440px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
  background: #fff;
}

.txtabout-pro {
  width: 100px;
  margin-top: 12px;
  margin-right: 400px;
  color: #505353;
  font-family: UTM BryantLG;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.4px;
}

.ipt-textAbme {
  padding-left: 10px;
  margin-top: -10px;
  width: 440px;
  height: 159px;
  border-radius: 5px;
  border: 1px solid #d6d6d6;
  background: #fff;
}

.txtyouAb-ipt {
  color: #cbcbcb;
  font-family: UTM BryantLG;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.36px;
}

.ipt-txtdate {
  color: #868484;
}

.btn-updateprofile {
  margin-right: 1000px;
  width: 120px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 22px;
  background: #b2d235;
  box-shadow: 0px 1.5px 2px 0px #6f8710 inset;
  padding-top: 1px;
}

.btn-updateprofile p {
  color: #fff;
  font-family: UTM BryantLG;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.75px;
}
