.body-list-learn {
  height: 3300px;
  width: 100%;
}

.filter {
  margin-left: 13px;
  width: 1300px;
  height: 300px;
  margin-top: -2900px;
  display: flex;
  flex-direction: column;
}

.btnfilter {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  background: #fff;
  margin-right: 2330px;
  padding-top: 5px;
  padding-right: 40px;
}

.in-search {
  width: 560px;
  height: 50px;
  margin-top: -40px;
  margin-left: 80px;
}

.ip-list {
  padding-left: 10px;
  margin-right: 150px;
  width: 355px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  background: #fff;
}

.ip-note-lup {
  display: flex;
  margin-left: 350px;
  margin-top: -28px;
}

.btn-search {
  display: flex;
  margin-top: -30px;
  margin-left: 390px;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #b2d235;
  background: #b2d235;
  padding-top: 10px;
  padding-left: 18px;
}

.txt-search {
  color: #fff;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.txtFilter {
  margin-top: -19px;
  margin-left: 42px;
  color: #505353;
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.list-filter-note {
  margin-top: 15px;
  height: 110px;
  width: 1300px;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  padding-top: 20px;
  padding-left: 10px;
}

.txt-list-fil {
  margin-right: 1200px;
  color: #505353;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.btn-list-new {
  display: flex;
  margin-left: 100px;
  margin-top: -40px;
  width: 101px;
  height: 34px;
  border-radius: 2%;
  background: #b2d235;
  padding-top: 8px;
  padding-left: 20px;
}

.txt-list-new {
  color: #fff;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/*  */
.btn-list-los {
  display: flex;
  margin-left: 210px;
  margin-top: -34px;
  width: 101px;
  height: 34px;
  border-radius: 2%;
  background: #b2d235;
  padding-top: 8px;
  padding-left: 24px;
}

.txt-list-los {
  color: #505353;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/*  */
.form-select-teacher {
  display: flex;
  width: 180px;
  height: 35px;
  margin-left: 320px;
  margin-top: -34px;
  border-radius: 2px 2px 0px 0px;
  border: 1px solid #e5e6e7;
}

.form-select-learn {
  display: flex;
  width: 180px;
  height: 35px;
  margin-left: 510px;
  margin-top: -35px;
  border-radius: 2px 2px 0px 0px;
  border: 1px solid #e5e6e7;
}

.form-select-time {
  display: flex;
  width: 180px;
  height: 35px;
  margin-left: 700px;
  margin-top: -35px;
  border-radius: 2px 2px 0px 0px;
  border: 1px solid #e5e6e7;
}

.form-select-sobai {
  display: flex;
  width: 180px;
  height: 35px;
  margin-left: 890px;
  margin-top: -35px;
  border-radius: 2px 2px 0px 0px;
  border: 1px solid #e5e6e7;
}

.form-select-tag {
  display: flex;
  width: 180px;
  height: 35px;
  margin-left: 100px;
  margin-top: 10px;
  border-radius: 2px 2px 0px 0px;
  border: 1px solid #e5e6e7;
}

.form-select-view {
  display: flex;
  width: 180px;
  height: 35px;
  margin-left: 290px;
  margin-top: -35px;
  border-radius: 2px 2px 0px 0px;
  border: 1px solid #e5e6e7;
}

/*  */
.btn-list-los {
  width: 101px;
  height: 34px;
  border-radius: 2px;
  background: #e5e6e7;
}

.txt-list-los {
  color: #505353;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* ds khoa hoc */
.list-learn-dev {
  margin-top: 20px;
  height: 700px;
  width: 1400px;
  position: absolute;
  display: flex; /* Thêm thuộc tính flex để hiển thị các ô con theo chiều ngang */
  flex-wrap: wrap; /* Dùng flex-wrap để các ô trên một dòng */
}

.custom-row-dev {
  margin-top: 1px;
  margin-left: -50px;
}

.custom-margin-one {
  margin: 50px;
  margin-top: 20px;
}

.custom-margin-one img {
  margin-right: 470px;
  margin-top: 30px;
}

.cust-learn-html {
  text-align: left;
  margin-top: -85px;
  margin-left: 170px;
  color: #505353;
  font-family: UTM BryantLG;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.25px;
}

.txt-learn-html {
  margin-top: -10px;
  margin-left: 170px;
  text-align: left;
  width: 340px;
  height: 111px;
  color: #505050;
  font-family: UTM BryantLG;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.9px;
}

.bt-learn-more {
  margin-top: -10px;
  margin-left: 420px;
  width: 106px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 22px;
  background: #b2d235;
  box-shadow: 0px 2px 4px 0px #6f8710 inset;
  padding-top: 10px;
}

.txtmore-dev {
  color: #fff;
  font-family: UTM BryantLG;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.9px;
}

.btn-back-learn {
  display: flex;
  margin-top: 13px;
  margin-left: -13px;
  width: 629px;
  height: 2px;
  background: #f1f1f1;
}

.txtlearn-dev {
  margin-top: 10px;
  margin-right: 460px;
  color: #505353;
  font-family: UTM BryantLG;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.25px;
}

.txtless-dev {
  margin-left: 20px;
  margin-top: -44px;
  color: #505353;
  font-family: UTM BryantLG;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.25px;
}

.txttime-dev {
  margin-left: 470px;
  margin-top: -44px;
  color: #505353;
  font-family: UTM BryantLG;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.25px;
}

/*  */

.solearn-dev {
  margin-top: -10px;
  margin-right: 460px;
  color: #b2d235;
  font-family: UTM BryantLG;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.5px;
}

.soless-dev {
  margin-top: -60px;
  margin-left: 20px;
  color: #b2d235;
  font-family: UTM BryantLG;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.5px;
}

.sotime-dev {
  margin-top: -60px;
  margin-left: 480px;
  color: #b2d235;
  font-family: UTM BryantLG;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -1.5px;
}

.custom-margin-one {
  width: 630px;
  height: 350px;
  border-radius: 8px;
  border: 1px solid #f1f1f1;
  background: #fff;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.list-dev-page {
  margin-top: 30px;
  margin-left: 970px;
}

.page-item {
  margin-left: 5px;
}

.page-item .page-link {
  border: 2px solid #b2d235;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  padding-top: 8px;
}

.page-item .page-link p {
  color: #b2d235;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.9px;
}

.page-item.previous .page-link,
.page-item.next .page-link {
  border: 2px solid #b2d235;
  border-radius: 5px;
  padding: 5px 10px;
  height: 40px;
  width: 65px;
}

.page-item.next .page-link {
  background: #b2d235;
}
